.idea
/vendor

/custom

# codeception + wp-browser
/tests/e2e/_output/*
!/tests/e2e/_output/.keep
/tests/e2e/_support/_generated/*
!/tests/e2e/_support/_generated/.keep

# wpunit tests
.phpunit.result.cache
